@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-display: swap;
}

:root {
  --green-dark: #243838;
  --green-medium: #2f4f4f;
  --green-light: #456d6d;
  --wheat-dark: #ebd5ad;
  --wheat-medium: #f9ebd2;
  --wheat-light: #fefbf6;
  --gray-dark: #202020;
  --gray-medium: #2e2e2e;
  --gray-light: #3d3d3d;
  --card-padding: 16px;
}

html {
  background-color: var(--gray-dark);
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  min-height: 100vh;
  display: grid;
  grid: "header" auto "main" 1fr "footer" auto / 1fr;
  gap: 16px;
  margin: 0;

  color: #ffffff;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

h1 {
  font-size: 40px;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

h2 {
  font-size: 32px;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

h3 {
  font-size: 28px;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

h4 {
  font-size: 24px;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin: 0px;
}

a {
  color: var(--wheat-medium);
  text-decoration: none;
}

a:hover {
  color: var(--wheat-dark);
  text-decoration: underline;
}

table {
  border-radius: 16px;
}

table,
th,
td {
  border: 1px solid var(--gray-light);
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  background-color: var(--gray-medium);
}

code {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--gray-medium);
  padding: 0px 4px;
  border-radius: 4px;
}

pre {
  padding: 16px;
  border-radius: 16px;
}

.text-big-info {
  font-size: 20px;
  font-weight: 500;
  padding: var(--card-padding);
}

.text-opacity-80 {
  color: rgba(255, 255, 255, 0.8);
}

strong {
  font-weight: 600;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}
