---
import BlogPostCard from "../components/molecules/BlogPostCard.astro"
import Hero from "../components/organisms/Hero.astro"
import Section from "../components/organisms/Section.astro"
import Layout from "../layouts/Layout.astro"

interface Frontmatter {
  title: string
  imgSrc: string
  description?: string
  href: string
}

const post = await Astro.glob<Frontmatter>("../pages/blog/*.mdx")
---

<Layout title="Blog">
  <Hero id="blog-hero">
    <h1>
      Blog <span>Guías, artículos y reflexiones, sobre todo un poco</span>
    </h1>
  </Hero>
  <Section id="#posts">
    {
      post.map((post) => (
        <BlogPostCard
          title={post.frontmatter.title}
          imgSrc={post.frontmatter.imgSrc}
          href={"/blog" + post.frontmatter.href}
        >
          {post.frontmatter.description}
        </BlogPostCard>
      ))
    }
  </Section>
</Layout>
<style>
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.25em;
  }

  @media (max-width: 767px) {
    span {
      font-size: 18px;
    }
  }
</style>
