---
import ButtonCTA from "../components/atoms/ButtonCTA.astro"
import Social from "../components/molecules/Social.astro"
import Hero from "../components/organisms/Hero.astro"
import Section from "../components/organisms/Section.astro"
import Layout from "../layouts/Layout.astro"
import ExperienceCard from "../components/molecules/ExperienceCard.astro"
---

<Layout title="rafanco">
  <Hero>
    <img
      class="logo-memoji"
      src="src/assets/images/memoji.PNG"
      alt="memoji de rafael"
    />
    <h1>Rafael Díaz</h1>
    <p>
      Sí. Soy la persona que necesitas para el proyecto que tienes en mente.
    </p>
    <Social />
    <div class="cta-container">
      <ButtonCTA href="">Contactar</ButtonCTA>
      <ButtonCTA href="">Sobre mí</ButtonCTA>
    </div>
  </Hero>
  <Section title="Experiencia" id="experiencia">
    <ExperienceCard
      employer="Viña Viva"
      date="15/12/2022 - 1/9/2023"
      role="Desarrollador Web"
    >
      Investigación UX y desarrollo de un sitio web para Viña Viva. Asociación
      para la defensa del patrimonio vitivinícola, en la región del Condado de
      Huelva.
    </ExperienceCard>
    <ExperienceCard
      employer="Geserisk"
      date="15/6/2022 - 15/12/2022"
      role="Analista de ciberseguridad"
    >
      Implementación y despliegue de servidores NGINX. Asistencia informática
      HelpDesk. Informar sobre las alertas de seguridad. Configuración del
      firewall Fortinet. Instalación y mantenimiento de equipos informáticos.
    </ExperienceCard>
  </Section>

  <style>
    .logo-memoji {
      width: 150px;
      height: auto;
    }
    .cta-container {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  </style>
</Layout>
