---
import ExperienceCard from "../components/molecules/ExperienceCard.astro"
import Section from "../components/organisms/Section.astro"
---

<!-- TODO: Añadir sección de index correspondiente -->
<Section title="Experiencia" id="experiencia">
  <!-- <p class="text-big-info text-center">
    Siempre he trabajado genial en entornos flexibles, creativos y
    colaborativos. Caracterizados por estar adaptados a los tiempos y
    concienciados con aspectos sociales.
  </p> -->
  <div>
    <ExperienceCard
      employer="Viña Viva"
      date="15/12/2022 - 1/9/2023"
      role="Desarrollador Web"
    >
      Investigación UX y desarrollo de aplicación web para Viña Viva. Iniciativa
      para la defensa del patrimonio vitivinícola, del Condado de Huelva.
    </ExperienceCard>
    <ExperienceCard
      employer="Geserisk"
      date="15/6/2022 - 15/12/2022"
      role="Analista de ciberseguridad"
    >
      Implementación y despliegue de servidores NGINX. Asistencia informática
      HelpDesk. Alertas de seguridad. Configuración del firewall Fortinet.
      Instalación y mantenimiento de equipos informáticos. SAP.
    </ExperienceCard>
    <ExperienceCard
      employer="FitnessAlvaro"
      date="20/6/2018 - 30/9/2018"
      role="Gestor de información para redes sociales"
    >
      Grabación y edición de vídeos y audio con Premiere. Creación de gráficos
      en movimiento con After Effects. Diseño y creación de miniaturas para
      vídeos con Photoshop.
    </ExperienceCard>
  </div>
</Section>
<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
