---
import Social from "../components/molecules/Social.astro"
import Hero from "../components/organisms/Hero.astro"
import ButtonGhost from "../components/atoms/ButtonGhost.astro"
import ButtonWheat from "../components/atoms/ButtonWheat.astro"
---

<Hero id="inicio">
  <img
    class="logo-memoji"
    width="970"
    height="1227"
    src="/memoji.avif"
    alt="memoji de rafael"
  />
  <h1>
    Rafael Díaz <span> Ingeniero Software y diseñador UX</span>
  </h1>
  <p class="text-center">
    Soy la persona que necesitas para el proyecto que tienes en mente
  </p>
  <Social />
  <div>
    <ButtonWheat href="#contact">Contactar</ButtonWheat>
    <ButtonGhost
      href="https://drive.google.com/file/d/111ho7rs1jVFLu7KuGMyKFjX4X8D4E2kL/view?usp=sharing"
    >
      CV (Esp)
    </ButtonGhost>
    <ButtonGhost
      href="https://drive.google.com/file/d/1-8m198EjdLWRXCWRT81A1gd5E9QpEbHU/view?usp=sharing"
    >
      CV (Eng)
    </ButtonGhost>
  </div>

  <style>
    .logo-memoji {
      width: 150px;
      height: auto;
    }

    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    span {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      line-height: 1.25em;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    @media (max-width: 767px) {
      span {
        font-size: 18px;
      }
    }
  </style>
</Hero>
