<div>
  <p>
    <slot />
  </p>
</div>

<style>
  div {
    box-sizing: border-box;
    padding: 4px 8px;
    border: 1px solid var(--wheat-medium);
    border-radius: 20px;
  }
  p {
    font-size: 12px;
    color: var(--wheat-medium);
  }
</style>
