---
interface Props {
  title: string
  xStart: string
  xEnd: string
  yStart: string
  yEnd: string
}
const { title, xStart, xEnd, yStart, yEnd } = Astro.props
---

<article>
  <h3>{title}</h3>
  <slot />
</article>
<style define:vars={{ xStart, xEnd, yStart, yEnd }}>
  article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: var(--xStart) / var(--xEnd);
    grid-row: var(--yStart) / var(--yEnd);
    padding: var(--card-padding);
    background-color: var(--gray-medium);
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
</style>
