---
interface Props {
  title: string
  imgSrc: string
  href: string
}
const { title, imgSrc, href } = Astro.props
---

<article>
  <a href={href}>
    {imgSrc != "" && <img src={imgSrc} alt={"Portada de" + title} />}
    <div>
      <h3>{title}</h3>
      <p class="text-opacity-80">
        <slot />
      </p>
    </div>
  </a>
</article>

<style>
  article {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: var(--card-padding);
    background-color: var(--gray-medium);
    border-radius: 32px;
    border: var(--card-border);
    box-shadow: var(--box-shadow);
  }

  article:hover {
    background-color: var(--gray-light);
    text-decoration: none;
    color: white;
  }

  a {
    display: flex;
    flex-direction: row;
    gap: 16px;
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }

  img {
    aspect-ratio: auto 3/2;
    width: 30%;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
  }

  footer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 8px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @media (max-width: 1023px) {
    img {
      width: 50%;
    }
  }

  @media (max-width: 767px) {
    a {
      flex-direction: column;
    }
    img {
      width: 100%;
    }
  }
</style>
