---
import Instagram from "../icons/Instagram.astro"
import Github from "../icons/Github.astro"
import LinkedIn from "../icons/LinkedIn.astro"
---

<nav>
  <ul>
    <li><a href="https://www.instagram.com/rafandco/"><Instagram /></a></li>
    <li><a href="https://github.com/rafandco"><Github /></a></li>
    <li><a href="https://www.linkedin.com/in/rafael-díaz-garcía/"><LinkedIn /></a></li>
  </ul>
</nav>

<style>
  nav {
    width: fit-content;
    margin: 8px 0;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 8px;
    padding: 0;
  }
  a {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 8px;
    color: white;
  }
  }
</style>
