<footer>
  <p>Hecho por rafandco</p>
  <p>2024</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: var(--gray-ultra-dark);
    align-items: center;
    padding: var(--card-padding);
  }

  p {
    text-align: center;
    padding: 8px;
  }
</style>
