---
import Social from "../molecules/Social.astro";
---

<footer>
  <Social />
  <p>2024</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background-color: #171717;
    align-items: center;
  }
  
  p {
    text-align: center;
    padding: 8px;
  }
</style>
