<footer>
  <p>
    Hecho por rafandco, Ver en <a href="https://github.com/rafandco/portfolio"
    >github</a
    >
    <p>2024</p>
  </p>

  <style>
    footer {
      display: flex;
      flex-direction: column;
      grid-area: footer;
      background-color: var(--gray-ultra-dark);
      align-items: center;
      padding: var(--card-padding);
    }

    p {
      text-align: center;
      padding: 8px;
    }
  </style>
</footer>
