---
import Home from "../icons/Home.astro"
import Projects from "../icons/Projects.astro"
import Experience from "../icons/Experience.astro"
import AboutMe from "../icons/AboutMe.astro"
---

<header>
  <nav>
    <ul>
      <li>
        <a href="#inicio"> <div><Home /></div>Inicio</a>
      </li>
      <li><a href="#proyectos"><div><Projects /></div>Proyectos</a></li>
      <li><a href="#experiencia"><div><Experience /></div>Experiencia</a></li>
      <li><a href="#sobre-mi"><div><AboutMe /></div>Sobre mí</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 0px;
    bottom: auto;
    transform: translateX(-50%);
    margin: 16px 0px;
    grid-area: header;
    margin-top: 16px;
  }

  nav {
    width: fit-content;
    margin: 0px auto 0px auto;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 0;
    border-radius: 32px;
    border: var(--card-border);
    background-color: var(--gray-medium-transparent);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
  }

  li {
    list-style-type: none;
    margin: 8px;
    padding: 8px 0;
  }

  div {
    display: none;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 24px;
  }

  a:hover {
    background-color: var(--gray-ultra-light-transparent);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
  }

  @media (max-width: 767px) {
    header {
      width: 100%;
      position: fixed;
      left: 50%;
      top: auto;
      bottom: 0px;
      transform: translateX(-50%);
      margin-bottom: 16px;
    }

    ul {
      padding: 0px 8px;
      border-radius: 24px;
    }

    li {
      margin: 0px;
    }

    div {
      display: block;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 16px;
      gap: 4px;
      font-size: 12px;
      border-radius: 16px;
    }
  }
</style>
