<header>
  <nav>
    <ul>
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#experiencia">Experiencia</a></li>
      <li><a href="#sobre-mi">Acerca de mí</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    grid-area: header;
  }
  nav {
    width: fit-content;
    margin: 8px auto 8px auto;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 0;
    border-radius: 32px;
    background-color: #606060;
  }
  li {
    list-style-type: none;
    margin: 8px;
    padding: 8px 0;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 24px;
  }
  a:hover {
    background-color: #303030;
  }
</style>
