<section>
  <slot />
</section>

<style>
  section {
    width: 960px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 64px 8px;
    border: 2px red solid;
  }
</style>
