---
interface Props {
  title: string
  id: string
}

const { title, id } = Astro.props
---

<section id={id}>
  <h2>{title}</h2>
  <slot />
</section>

<style>
  section {
    box-sizing: border-box;
    width: 960px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 2px red solid;
    gap: 16px;
  }
</style>
