---
import Header from "../components/organisms/Header.astro"
import Footer from "../components/organisms/Footer.astro"

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    min-height: 100vh;
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
    margin: 0;
    background-color: #202020;
    font-family: "Satoshi", sans-serif;                                          
    color: #ffffff;
  }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0px;
  }
  p {
    font-size: 16px;
    margin: 0px;
</style>
