---
import Footer from "../components/organisms/Footer.astro"
import BackButton from "../components/atoms/BackButton.astro"

const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <header>
      <BackButton href="/#proyectos">Atrás</BackButton>
      <h1>{frontmatter.title}</h1>
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  }
  :root {
    --green-dark: #243838;
    --green-medium: #2f4f4f;
    --green-light: #456d6d;
    --wheat-dark: #ebd5ad;
    --wheat-medium: #f9ebd2;
    --wheat-light: #fefbf6;
    --gray-dark: #202020;
    --gray-medium: #2e2e2e;
    --gray-light: #3d3d3d;
  }
  body {
    min-height: 100vh;
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 16px;
    margin: 0;
    background-color: #202020;
    font-family: "Satoshi", sans-serif;
    color: #ffffff;
  }
  header {
    box-sizing: border-box;
    width: 960px;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 16px auto 0px auto;
    border: 2px red solid;
  }
  main {
    box-sizing: border-box;
    grid-area: main;
    width: 960px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 2px blue solid;
  }
  h1 {
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }
  h2 {
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }
  h3 {
    font-size: 28px;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }
  h4 {
    font-size: 24px;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }
  p {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0px;
  }
</style>
